<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" href="images/favicon-V.png" sizes="16x16">
  <link rel="stylesheet" href="css/style.css" />
  <title>Voop Chat</title>
</head>

<body>
  <div class="container">
    <form id="home" method="POST" autocomplete="off">
      <h1 style="text-transform: capitalize;">Hello <%= name?name:"User" %>
      </h1>
      <div class="form-control">
        <label for="password" style="margin-left: 30px;"><span style="font-size: 20px;">New Meeting Code</span></label>
        <div class="box" style="display: flex;padding: 10px 30px;">
          <input type="text" name="room_code" id="room_gen" value=<%=uuid %> style="
          background-image: url(./images/edit.svg);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: right;" />
          <small id="success">Error message</small>
        </div>
      </div>
      <div class="form-control">
        <label for="password" style="margin-left: 30px;"><span style="font-size: 20px;">Room Code</span></label>
        <div class="box" style="display: flex;padding: 10px 30px;">
          <input type="hidden" name="user" value="<%= name %>">
          <input type="text" name="room_code" id="room_code" placeholder="Enter Room Code" />
          <button disabled="true" id="submit" onclick="send()" style="background: transparent; border: none;">
            <img src="images/next.svg" alt="" style="height: 30px;"></h1>
          </button>
          <small style="visibility : visible; margin-top :20px; color : lightsteelblue; padding: 5px;">If you want a random room code then you may enter in the above field.The minimun code lenght is 10.</small>
        </div>
        <!-- <div class="media-controls">
          <div class="video form" style="display: flex; padding: 10px; align-items: baseline; width: 50%;">
            <label for="video" style="margin-left: 30px;"><span style="font-size: 20px;">Video </span></label>
            <button type="button" name="video" style="height: 25px; padding: 2px; margin-left: 10px;" value="true"
              class="media">Enabled</button>
          </div>
          <div class="audio form" style="display: flex; padding: 10px; align-items: baseline; width: 50%;">
            <label for="audio" style="margin-left: 30px;"><span style="font-size: 20px;">Audio</span></label>
            <button type="button" name="audio" style="height: 25px; padding: 2px; margin-left: 10px;" value="true"
              class="media">Enabled</button>
          </div>
        </div> -->
      </div>
    </form>
  </div>
  <script type="text/javascript">
    var roomid;
  </script>
  <script type="text/javascript" src="./js/main_app.js"></script>
  <script>
    function send() {
      roomid = document.querySelector("#room_code").value;
      localStorage.setItem("code", String(roomid));
      document.querySelector("#home").action = `/${document.querySelector("#room_code").value}`;
      document.querySelector("#home").submit();
    }
    document.querySelector("#room_code").addEventListener("input", e => {
      if (e.target.value.length > 9) {
        e.target.style.border = "1px solid #2ecc71"
        document.querySelector("#submit").disabled = false
      }
      else {
        e.target.style.border = "1px solid #e74c3c"
        document.querySelector("#submit").disabled = "true"
      }
    })
    document.querySelector("#room_gen").addEventListener("click", e => {
      console.log(e.target);
      var copyText = document.getElementById("room_gen");
      copyText.select();
      copyText.setSelectionRange(0, 99999)
      document.execCommand("copy");
      var msg = document.querySelector("#success");
      msg.textContent = "The Room Code is copied!";
      msg.style.color = "#2ecc71";
      msg.style.visibility = "visible";
      e.target.disabled = true;
      e.target.style.border = "1px solid #2ecc71";
      e.target.style.backgroundImage = "url(./images/notepad.svg)"
    })

    // document.querySelectorAll(".media").forEach(e => {
    //   e.addEventListener("click", evt => {
    //     if (evt.target.textContent == "Enabled") {
    //       evt.target.style.background = "#e74c3c";
    //       evt.target.textContent = "Disabled"
    //       evt.target.value = "false"
    //     }
    //     else {
    //       evt.target.style.background = "#3498db";
    //       evt.target.textContent = "Enabled"
    //       evt.target.value = "true"
    //     }
    //   })
    // })
  </script>
  <script src="js/script2.js"></script>
</body>

</html>