<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" href="images/favicon-V.png"  sizes="16x16">
  <link rel="stylesheet" href="css/style.css" />
  <title>Voop Chat</title>
</head>

<body>
  <div class="container">
    <form id="form" class="form" action="/login" method="POST" autocomplete="off">
      <h2>Login</h2>
      <p class="otp"><%= err?err:"" %></p>
      <div class="form-control">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Enter username" autocomlete="off" />
        <small>Error message</small>
      </div>
      <div class="form-control">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter password" autocomlete="off" />
        <small>Error message</small>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
<script>
  setInterval(()=>{
    document.querySelector(".otp").classList.add("hid")
  },3000)
</script>
</html>